extends layout.pug
block content
  div.login
    != messages('message', locals)
    h1= title
    form(method="POST" action="/users/login")
      div.form-group
        label(for='username') Username:
        br
        input.form-control(type='text' id='username' placeholder='username' name='username' required)
      div.form-group
        label(for='password') Password:
        br
        input.form-control(type='password' id='password' placeholder='password' name='password' required)
      div.form-group
        button.btn.btn-primary(type='submit') Login
