body{
  margin: 0 auto;
  letter-spacing: 2px;
}
a{
  text-decoration: none;
  letter-spacing: 2px;
}
.btn{
  line-height: 18px;
  font-family: 'lato', sans-serif;
  border: none;
  padding: 10px;
}
.btn-primary{
  background-color: rgb(8, 170, 68);
}
.index{
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1{
    margin: 10px 10px;
    margin-bottom: 30px;
    padding: 10px 30px;
    background-color: #000;
    color: #fff;
    font-family: 'lato', sans-serif;
  }
  button{
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    padding-bottom: 0px;
    color: white;
    outline: none;
    border: 2px solid #ddd;
    &:hover{
      background-color: #ccc;
      border: 2px dotted #ddd;
    }
    p{
        margin: 0px 0px;
        padding: 15px;
        font-size: 20px;
    }
  }
  .index_forms{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
  }
}
.register{
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  form{
    border: 1px solid #ccc;
    padding: 20px 20px;
  }
  h1{
    margin: 10px 10px;
    margin-bottom: 30px;
    padding: 10px 30px;
    background-color: #000;
    color: white;
  }
  input{
    line-height: 18px;
    font-size: 14px;
    padding: 15px 10px;
    min-width: 300px;
    margin-top: 5px;
    outline: none;
    border: 1px solid #ccc;
    &:hover, &:focus{
      border: 1px solid black;
    }
  }
  .form-group{
    box-sizing: border-box;
    margin-top: 15px;
    label{
      margin-bottom: 5px;
    }
    button{
      line-height: 18px;
      font-size: 14px;
      padding: 15px 10px;
      min-width: 300px;
      color: white;
      background-color: black;
      border: 2px solid black;
      transition: all 0.3s ease;
      font-size: 18px;
      cursor: pointer;
      letter-spacing: 2px;
      &:hover{
        background-color: white;
        color: black;
        border: 2px solid black;
      }
    }
  }
}
.login{
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  form{
    border: 1px solid #ccc;
    padding: 20px 20px;
  }
  h1{
    margin: 10px 10px;
    margin-bottom: 30px;
    padding: 10px 30px;
    background-color: #000;
    color: white;
  }
  input{
    line-height: 18px;
    font-size: 14px;
    padding: 15px 10px;
    min-width: 300px;
    margin-top: 5px;
    outline: none;
    border: 1px solid #ccc;
    &:hover, &:focus{
      border: 1px solid black;
    }
  }
  .form-group{
    box-sizing: border-box;
    margin-top: 15px;
    label{
      margin-bottom: 5px;
    }
    button{
      line-height: 18px;
      font-size: 14px;
      padding: 15px 10px;
      min-width: 300px;
      color: white;
      background-color: black;
      border: 2px solid black;
      transition: all 0.3s ease;
      font-size: 18px;
      cursor: pointer;
      letter-spacing: 2px;
      &:hover{
        background-color: white;
        color: black;
        border: 2px solid black;
      }
    }
  }
}
